// media queries
$mobile: "(max-width: 600px)";
$tablet: "(min-width:601px) and (max-width:1023px)";
$desktop: "(min-width:1024px)";

// fonts
$font: 'Yantramanav', sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// colors
$cream: #F9F6EF;
$dark-blue: #464475;
$med-blue: #6D93C2;
$light-blue: #ACDFF2;
$magenta: #B31F53;
$pink: #EC4B6D;
